.filter-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 2px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
  justify-content: flex-start;
  gap: 10px;
  border: none;
  border-bottom: 2px solid (--bo-c);
}

.select-filter {
  background-color: var(--input-color);
  width: 250px;
  color: var(--txt-1);
  margin-left: 15px;
  border: 1px solid var(--bo-c);
  border-radius: 5px;
  height: 40px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.select-filter:focus {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-filter {
  height: 40px;
  width: 100px;
  text-align: center;
  margin-left: 15px;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--btn-color);
  border: none;
  box-shadow: 1px 1px 10px var(--bo-c);
  border-radius: 5px;
}

.btn-filter:hover {
  background-color: inherit;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}
