.gallery {
  width: 95%;
  background-color: inherit;
  margin: 0 auto;
  margin-bottom: 1.8rem;
  padding: 1rem 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  column-gap: 1.3rem;
  row-gap: 1rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-bg);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--bo-c);
  box-shadow: 0 4px 10px var(--bo-c);
  overflow: hidden;
  cursor: pointer;
}

.gallery-item .image-frame {
  width: 160px;
  height: 160px;
}

.image-frame > img {
  border-radius: 5px;
  width: 100%;
  margin: 0;
}


.player-details {
  padding: 20px;
}

.player-name {
  color: var(--txt-1);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.player-description {
  font-size: 14px;
  color: var(--txt-2);
}

.link-photo {
  width: 90%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: transform 0.3s;
  color: var(--primary-color);
}