.hint-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .hint-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color-text {
  font-size: 14px;
  color: var(--txt-2);
  margin-bottom: 5px;
}

.hint-container .all:hover .color-text {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
.hint-container .Forward:hover .color-text {
  text-shadow: 2px 3px 8px #c33d17;
}
.hint-container .Defender:hover .color-text {
  text-shadow: 2px 3px 8px #044098;
}
.hint-container .Midfielder:hover .color-text {
  text-shadow: 2px 3px 8px #279766;
}
.hint-container .Goalkeeper:hover .color-text {
  text-shadow: 2px 3px 8px rgba(201, 154, 32, 0.7);
}
