.players {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.3rem;
  margin-bottom: 2.7rem;
  padding: 10px;
  background-color: var(--bg-1);
}

.table-mgmt {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  color: var(--link-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-mgmt .title {
  font-size: 1.5rem;
}

.players-table {
  color: var(--txt-1);
  width: 100%;
  box-shadow: 2px 2px 10px var(--bo-c);
  background-color: var(--bg-4);
  border-collapse: collapse;
  transition: all ease-in 0.3s;
}

th {
  color: var(--txt-1);
  background-color: var(--bg-2);
  font-weight: bold;
  border-top: 2px solid var(--bo-c);
  border-bottom: 2px solid var(--bo-c);
  text-transform: uppercase;
}

td,
th {
  padding: 12px;
  text-align: left;
}

tr {
  color: var(--txt-1);
  background-color: var(--bg-1);
  border-bottom: 1px solid var(--bo-c);
}

thead tr {
  border-left: 3px solid gray;
}

tr:nth-child(even) {
  background-color: var(--bg-2);
}

.player-link {
  text-decoration: none;
}

.player-info {
  color: var(--link-color);
  height: 100px;
  min-width: 275px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.player-number,
.player-avatar {
  border-radius: 50%;
  margin-right: 5px;
}

.player-number {
  width: 30px;
  height: 30px;
  color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.player-avatar {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.player-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.player-country {
  color: var(--txt-2);
  font-size: 14px;
}

/* Position styling */
.nfl,
.mlb,
.nhl,
.pga {
    text-decoration: none;
    transition: ease-in 0.3s;
    padding-left: 10px;
}

.nfl {
    border-left: 3px solid #007bff;
}

.mlb {
    border-left: 3px solid #52d29a;
}

.nhl {
    border-left: 3px solid rgba(231, 196, 104, 0.7);
}

.pga {
    border-left: 3px solid #eb7655;
}

.nfl .player-number {
    background-color: #044c98;
}

.pga .player-number {
    background-color: #c63219;
}

.mlb .player-number {
    background-color: #279766;
}

.nhl .player-number {
    background-color: rgba(201, 154, 32, 0.7);
}


.trash {
    color: var(--link-color);
    cursor: pointer;
}

.trash:hover {
    padding-left: 3px;
}

@media (max-width: 768px) {
    .player-info {
        min-width: 100%;
    }
    .player-avatar {
        display: none;
    }
    .player-number {
        display: none;
    }
}
@media (max-width: 425px) {
    .players-table th:nth-child(3),
    .players-table td:nth-child(3) {
        display: none;
    }
}
