.header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
}

.dark .header {
    background-color: var(--bg-4);
}

.logo-img {
    margin-left: 20px;
    width: 80px;
    height: 80px;
}

.header > .logo > .link {
    color: var(--btn-color);
    text-decoration: none;
    display: block;
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: bolder;
}

.header > .logo:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 10px tomato);
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    color: var(--btn-color); /* fallback */
}

.hamburger svg {
    color: var(--btn-color);
}

.navbar {
    padding-top: 12px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul .link {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--btn-color);
}

.navbar ul .active {
    transform: translateY(-5px);
    border-bottom: 2px solid var(--btn-color);
}

.dark .navbar ul .active {
    transform: translateY(-5px);
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.navbar ul .link:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in;
}

/* ========== RESPONSIVE STYLES ========== */

@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .logo-img {
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--bg-1);
        z-index: 999;
        padding: 1rem;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }

    /* Wenn Dropdown geöffnet: anzeigen */
    .navbar.open {
        display: flex;
    }

    .navbar ul {
        flex-direction: column;
        gap: 1rem;
    }

    .navbar ul .link {
        color: var(--txt-1);
        font-size: 1rem;
    }

}
